In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv('train.csv')

In [73]:
df.shape

(18524, 9)

In [74]:
df.sample(5)

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
1458,1458,2.0,No,8.0,NaN,No,15.0,9.0,Extrovert
9564,9564,NaN,No,9.0,5.0,No,8.0,7.0,Extrovert
697,697,0.0,No,9.0,4.0,No,13.0,3.0,Extrovert
2489,2489,3.0,No,NaN,4.0,No,9.0,7.0,Extrovert
14944,14944,3.0,No,8.0,4.0,No,13.0,9.0,Extrovert

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18524 entries, 0 to 18523
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         18524 non-null  int64
 1   Time_spent_Alone           17334 non-null  float64
 2   Stage_fear                 16631 non-null  object
 3   Social_event_attendance    17344 non-null  float64
 4   Going_outside              17058 non-null  float64
 5   Drained_after_socializing  17375 non-null  object
 6   Friends_circle_size        17470 non-null  float64
 7   Post_frequency             17260 non-null  float64
 8   Personality                18524 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 1.3+ MB

In [3]:
df.drop(columns=['id'], inplace=True)

In [77]:
df.sample(5)

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
11093,1.0,No,6.0,5.0,No,15.0,5.0,Extrovert
12755,0.0,No,6.0,3.0,No,7.0,3.0,Extrovert
13905,2.0,NaN,6.0,4.0,No,13.0,3.0,Extrovert
1033,10.0,Yes,2.0,1.0,Yes,0.0,0.0,Introvert
14265,9.0,Yes,3.0,3.0,Yes,0.0,1.0,Introvert

In [78]:
df.isnull().sum()

Time_spent_Alone             1190
Stage_fear                   1893
Social_event_attendance      1180
Going_outside                1466
Drained_after_socializing    1149
Friends_circle_size          1054
Post_frequency               1264
Personality                     0
dtype: int64

In [79]:
df.describe()

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
count,17334.000000,17344.000000,17058.000000,17470.000000,17260.000000
mean,3.137764,5.265106,4.044319,7.996737,4.982097
std,3.003786,2.753359,2.062580,4.223484,2.879139
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,3.000000,3.000000,5.000000,3.000000
50%,2.000000,5.000000,4.000000,8.000000,5.000000
75%,4.000000,8.000000,6.000000,12.000000,7.000000
max,11.000000,10.000000,7.000000,15.000000,10.000000

In [10]:
from ydata_profiling import ProfileReport

prof = ProfileReport(df)

prof.to_file(output_file='output.html')

c:\Users\ASUS\anaconda3\envs\py31013\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

100%|██████████| 8/8 [00:00<00:00, 126.00it/s]0<00:01,  8.42it/s, Describe variable: Personality]
Summarize dataset: 100%|██████████| 43/43 [00:05<00:00,  7.88it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.68s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.34s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 109.35it/s]

In [80]:
df

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert
...,...,...,...,...,...,...,...,...
18519,3.0,No,7.0,3.0,No,9.0,7.0,Extrovert
18520,1.0,NaN,6.0,7.0,No,6.0,5.0,Extrovert
18521,7.0,Yes,1.0,1.0,Yes,1.0,NaN,Introvert
18522,NaN,Yes,1.0,0.0,Yes,5.0,2.0,Introvert
18523,1.0,No,8.0,6.0,No,4.0,7.0,Extrovert

In [4]:
df['Stage_fear'] = df['Stage_fear'].map({'No': 0, 'Yes': 1})
df['Drained_after_socializing'] = df['Drained_after_socializing'].map({'No': 0, 'Yes': 1})
df['Personality'] = df['Personality'].map({'Introvert': 0, 'Extrovert': 1})

In [82]:
df

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0.0,0.0,6.0,4.0,0.0,15.0,5.0,1
1,1.0,0.0,7.0,3.0,0.0,10.0,8.0,1
2,6.0,1.0,1.0,0.0,NaN,3.0,0.0,0
3,3.0,0.0,7.0,3.0,0.0,11.0,5.0,1
4,1.0,0.0,4.0,4.0,0.0,13.0,NaN,1
...,...,...,...,...,...,...,...,...
18519,3.0,0.0,7.0,3.0,0.0,9.0,7.0,1
18520,1.0,NaN,6.0,7.0,0.0,6.0,5.0,1
18521,7.0,1.0,1.0,1.0,1.0,1.0,NaN,0
18522,NaN,1.0,1.0,0.0,1.0,5.0,2.0,0
18523,1.0,0.0,8.0,6.0,0.0,4.0,7.0,1

In [83]:
# Calculate the mean Time_spent_Alone for each Personality type
df.groupby('Personality')['Time_spent_Alone'].mean()

Personality
0    7.051937
1    1.747146
Name: Time_spent_Alone, dtype: float64

In [84]:
df['Time_spent_Alone'].mean()

np.float64(3.1377639321564557)

In [85]:
df['Social_event_attendance'].value_counts()

Social_event_attendance
4.0     2073
9.0     2063
7.0     2031
5.0     1985
6.0     1984
8.0     1945
3.0     1703
2.0     1063
0.0     1055
1.0      978
10.0     464
Name: count, dtype: int64

In [86]:

df['Friends_circle_size'].mean()

np.float64(7.996737263880939)

In [6]:
df_impute = df.copy()
df_impute['Stage_fear'] =df['Stage_fear'].fillna(df['Stage_fear'].mode()[0])
df_impute['Drained_after_socializing'] = df['Drained_after_socializing'].fillna(df['Drained_after_socializing'].mode()[0])

In [88]:
df_impute.isnull().sum()

Time_spent_Alone             1190
Stage_fear                      0
Social_event_attendance      1180
Going_outside                1466
Drained_after_socializing       0
Friends_circle_size          1054
Post_frequency               1264
Personality                     0
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')

# df_impute = df.copy()
cols_to_impute = ['Time_spent_Alone', 'Social_event_attendance', 'Going_outside', 'Friends_circle_size', 'Post_frequency']
df_impute[cols_to_impute] = imputer.fit_transform(df[cols_to_impute])

In [92]:
df_impute.isnull().sum()

Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [8]:
df_impute['Social_event_attendance'].value_counts()

Social_event_attendance
4.000000     2073
9.000000     2063
7.000000     2031
5.000000     1985
6.000000     1984
8.000000     1945
3.000000     1703
5.265106     1180
2.000000     1063
0.000000     1055
1.000000      978
10.000000     464
Name: count, dtype: int64

In [9]:
df_impute.select_dtypes(include=[np.number]).corr()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
Time_spent_Alone,1.000000,0.717709,-0.584338,-0.590467,0.720775,-0.559073,-0.566516,-0.752916
Stage_fear,0.717709,1.000000,-0.642719,-0.640232,0.775335,-0.610209,-0.610634,-0.816959
Social_event_attendance,-0.584338,-0.642719,1.000000,0.537373,-0.644999,0.529440,0.521939,0.673113
Going_outside,-0.590467,-0.640232,0.537373,1.000000,-0.644850,0.507860,0.528782,0.674065
Drained_after_socializing,0.720775,0.775335,-0.644999,-0.644850,1.000000,-0.613982,-0.616030,-0.822843
Friends_circle_size,-0.559073,-0.610209,0.529440,0.507860,-0.613982,1.000000,0.484895,0.634590
Post_frequency,-0.566516,-0.610634,0.521939,0.528782,-0.616030,0.484895,1.000000,0.647173
Personality,-0.752916,-0.816959,0.673113,0.674065,-0.822843,0.634590,0.647173,1.000000

In [10]:
df_impute['Anxiety_Interaction'] = df_impute['Drained_after_socializing'] * df_impute['Stage_fear']

In [11]:
df_impute

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality,Anxiety_Interaction
0,0.000000,0.0,6.0,4.0,0.0,15.0,5.000000,1,0.0
1,1.000000,0.0,7.0,3.0,0.0,10.0,8.000000,1,0.0
2,6.000000,1.0,1.0,0.0,0.0,3.0,0.000000,0,0.0
3,3.000000,0.0,7.0,3.0,0.0,11.0,5.000000,1,0.0
4,1.000000,0.0,4.0,4.0,0.0,13.0,4.982097,1,0.0
...,...,...,...,...,...,...,...,...,...
18519,3.000000,0.0,7.0,3.0,0.0,9.0,7.000000,1,0.0
18520,1.000000,0.0,6.0,7.0,0.0,6.0,5.000000,1,0.0
18521,7.000000,1.0,1.0,1.0,1.0,1.0,4.982097,0,1.0
18522,3.137764,1.0,1.0,0.0,1.0,5.0,2.000000,0,1.0
18523,1.000000,0.0,8.0,6.0,0.0,4.0,7.000000,1,0.0

In [12]:
df_impute['Social_Conflict_Ratio'] = df_impute['Time_spent_Alone'] / (df_impute['Social_event_attendance'] + 1e-6)

In [13]:
df_impute

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality,Anxiety_Interaction,Social_Conflict_Ratio
0,0.000000,0.0,6.0,4.0,0.0,15.0,5.000000,1,0.0,0.000000
1,1.000000,0.0,7.0,3.0,0.0,10.0,8.000000,1,0.0,0.142857
2,6.000000,1.0,1.0,0.0,0.0,3.0,0.000000,0,0.0,5.999994
3,3.000000,0.0,7.0,3.0,0.0,11.0,5.000000,1,0.0,0.428571
4,1.000000,0.0,4.0,4.0,0.0,13.0,4.982097,1,0.0,0.250000
...,...,...,...,...,...,...,...,...,...,...
18519,3.000000,0.0,7.0,3.0,0.0,9.0,7.000000,1,0.0,0.428571
18520,1.000000,0.0,6.0,7.0,0.0,6.0,5.000000,1,0.0,0.166667
18521,7.000000,1.0,1.0,1.0,1.0,1.0,4.982097,0,1.0,6.999993
18522,3.137764,1.0,1.0,0.0,1.0,5.0,2.000000,0,1.0,3.137761
18523,1.000000,0.0,8.0,6.0,0.0,4.0,7.000000,1,0.0,0.125000

In [14]:
# Define bins and labels for 'Friends_circle_size'
bins = [0, 3, 10, np.inf]
labels = ['Small_Circle', 'Medium_Circle', 'Large_Circle']

df_impute['Friends_circle_category'] = pd.cut(df_impute['Friends_circle_size'], bins=bins, labels=labels, right=True, include_lowest=True)

In [15]:
df_impute

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality,Anxiety_Interaction,Social_Conflict_Ratio,Friends_circle_category
0,0.000000,0.0,6.0,4.0,0.0,15.0,5.000000,1,0.0,0.000000,Large_Circle
1,1.000000,0.0,7.0,3.0,0.0,10.0,8.000000,1,0.0,0.142857,Medium_Circle
2,6.000000,1.0,1.0,0.0,0.0,3.0,0.000000,0,0.0,5.999994,Small_Circle
3,3.000000,0.0,7.0,3.0,0.0,11.0,5.000000,1,0.0,0.428571,Large_Circle
4,1.000000,0.0,4.0,4.0,0.0,13.0,4.982097,1,0.0,0.250000,Large_Circle
...,...,...,...,...,...,...,...,...,...,...,...
18519,3.000000,0.0,7.0,3.0,0.0,9.0,7.000000,1,0.0,0.428571,Medium_Circle
18520,1.000000,0.0,6.0,7.0,0.0,6.0,5.000000,1,0.0,0.166667,Medium_Circle
18521,7.000000,1.0,1.0,1.0,1.0,1.0,4.982097,0,1.0,6.999993,Small_Circle
18522,3.137764,1.0,1.0,0.0,1.0,5.0,2.000000,0,1.0,3.137761,Medium_Circle
18523,1.000000,0.0,8.0,6.0,0.0,4.0,7.000000,1,0.0,0.125000,Medium_Circle

In [16]:
df_impute = pd.get_dummies(df_impute, columns=['Friends_circle_category'])
df_impute[['Friends_circle_category_Small_Circle', 'Friends_circle_category_Medium_Circle', 'Friends_circle_category_Large_Circle']] = df_impute[['Friends_circle_category_Small_Circle', 'Friends_circle_category_Medium_Circle', 'Friends_circle_category_Large_Circle']].astype(int)

In [17]:
df_impute

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality,Anxiety_Interaction,Social_Conflict_Ratio,Friends_circle_category_Small_Circle,Friends_circle_category_Medium_Circle,Friends_circle_category_Large_Circle
0,0.000000,0.0,6.0,4.0,0.0,15.0,5.000000,1,0.0,0.000000,0,0,1
1,1.000000,0.0,7.0,3.0,0.0,10.0,8.000000,1,0.0,0.142857,0,1,0
2,6.000000,1.0,1.0,0.0,0.0,3.0,0.000000,0,0.0,5.999994,1,0,0
3,3.000000,0.0,7.0,3.0,0.0,11.0,5.000000,1,0.0,0.428571,0,0,1
4,1.000000,0.0,4.0,4.0,0.0,13.0,4.982097,1,0.0,0.250000,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18519,3.000000,0.0,7.0,3.0,0.0,9.0,7.000000,1,0.0,0.428571,0,1,0
18520,1.000000,0.0,6.0,7.0,0.0,6.0,5.000000,1,0.0,0.166667,0,1,0
18521,7.000000,1.0,1.0,1.0,1.0,1.0,4.982097,0,1.0,6.999993,1,0,0
18522,3.137764,1.0,1.0,0.0,1.0,5.0,2.000000,0,1.0,3.137761,0,1,0
18523,1.000000,0.0,8.0,6.0,0.0,4.0,7.000000,1,0.0,0.125000,0,1,0

In [18]:
df_impute.drop(columns=['id'], inplace=True)

KeyError: "['id'] not found in axis"

In [19]:
df_impute

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality,Anxiety_Interaction,Social_Conflict_Ratio,Friends_circle_category_Small_Circle,Friends_circle_category_Medium_Circle,Friends_circle_category_Large_Circle
0,0.000000,0.0,6.0,4.0,0.0,15.0,5.000000,1,0.0,0.000000,0,0,1
1,1.000000,0.0,7.0,3.0,0.0,10.0,8.000000,1,0.0,0.142857,0,1,0
2,6.000000,1.0,1.0,0.0,0.0,3.0,0.000000,0,0.0,5.999994,1,0,0
3,3.000000,0.0,7.0,3.0,0.0,11.0,5.000000,1,0.0,0.428571,0,0,1
4,1.000000,0.0,4.0,4.0,0.0,13.0,4.982097,1,0.0,0.250000,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18519,3.000000,0.0,7.0,3.0,0.0,9.0,7.000000,1,0.0,0.428571,0,1,0
18520,1.000000,0.0,6.0,7.0,0.0,6.0,5.000000,1,0.0,0.166667,0,1,0
18521,7.000000,1.0,1.0,1.0,1.0,1.0,4.982097,0,1.0,6.999993,1,0,0
18522,3.137764,1.0,1.0,0.0,1.0,5.0,2.000000,0,1.0,3.137761,0,1,0
18523,1.000000,0.0,8.0,6.0,0.0,4.0,7.000000,1,0.0,0.125000,0,1,0

In [20]:
X_train = df_impute[
    [
        'Time_spent_Alone',
        'Going_outside',
        'Post_frequency',
        'Anxiety_Interaction',
        'Social_Conflict_Ratio',
        'Friends_circle_category_Small_Circle',
        'Friends_circle_category_Medium_Circle',
        'Friends_circle_category_Large_Circle'
    ]
]

X_train

,Time_spent_Alone,Going_outside,Post_frequency,Anxiety_Interaction,Social_Conflict_Ratio,Friends_circle_category_Small_Circle,Friends_circle_category_Medium_Circle,Friends_circle_category_Large_Circle
0,0.000000,4.0,5.000000,0.0,0.000000,0,0,1
1,1.000000,3.0,8.000000,0.0,0.142857,0,1,0
2,6.000000,0.0,0.000000,0.0,5.999994,1,0,0
3,3.000000,3.0,5.000000,0.0,0.428571,0,0,1
4,1.000000,4.0,4.982097,0.0,0.250000,0,0,1
...,...,...,...,...,...,...,...,...
18519,3.000000,3.0,7.000000,0.0,0.428571,0,1,0
18520,1.000000,7.0,5.000000,0.0,0.166667,0,1,0
18521,7.000000,1.0,4.982097,1.0,6.999993,1,0,0
18522,3.137764,0.0,2.000000,1.0,3.137761,0,1,0
18523,1.000000,6.0,7.000000,0.0,0.125000,0,1,0

In [21]:
X_train['Anxiety_Interaction'].value_counts()

Anxiety_Interaction
0.0    15192
1.0     3332
Name: count, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler

# Select columns to scale
cols_to_scale = [
    'Time_spent_Alone',
    'Going_outside',
    'Post_frequency',
    'Anxiety_Interaction',
    'Social_Conflict_Ratio'
]

scaler = StandardScaler()
X_train[cols_to_scale] = scaler.fit_transform(X_train[cols_to_scale])

X_train

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8052\1312857158.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[cols_to_scale] = scaler.fit_transform(X_train[cols_to_scale])

,Time_spent_Alone,Going_outside,Post_frequency,Anxiety_Interaction,Social_Conflict_Ratio,Friends_circle_category_Small_Circle,Friends_circle_category_Medium_Circle,Friends_circle_category_Large_Circle
0,-1.079896e+00,-0.022392,0.006442,-0.468322,-0.230794,0,0,1
1,-7.357347e-01,-0.527641,1.085931,-0.468322,-0.230794,0,1,0
2,9.850696e-01,-2.043388,-1.792706,-0.468322,-0.230791,1,0,0
3,-4.741295e-02,-0.527641,0.006442,-0.468322,-0.230794,0,0,1
4,-7.357347e-01,-0.022392,0.000000,-0.468322,-0.230794,0,0,1
...,...,...,...,...,...,...,...,...
18519,-4.741295e-02,-0.527641,0.726101,-0.468322,-0.230794,0,1,0
18520,-7.357347e-01,1.493354,0.006442,-0.468322,-0.230794,0,1,0
18521,1.329230e+00,-1.538139,0.000000,2.135281,-0.230790,1,0,0
18522,1.528381e-16,-2.043388,-1.073047,2.135281,-0.230792,0,1,0
18523,-7.357347e-01,0.988105,0.726101,-0.468322,-0.230794,0,1,0

In [37]:
Y_train = df_impute['Personality']

In [38]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, Y_train, test_size=0.2, random_state=42)

In [39]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

# Build the model
model = Sequential([
    Dense(32, activation='relu', input_shape=(X_tr.shape[1],)),
    Dense(16, activation='relu'),
    Dense(1, activation='sigmoid')
])

model.compile(optimizer=Adam(), loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_tr, y_tr, epochs=20, batch_size=32, validation_data=(X_val, y_val))

# Evaluate
val_loss, val_acc = model.evaluate(X_val, y_val)
print(f"Validation Accuracy: {val_acc:.4f}")

Epoch 1/20

C:\Users\ASUS\AppData\Roaming\Python\Python310\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

464/464 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8584 - loss: 0.3492 - val_accuracy: 0.9679 - val_loss: 0.1419
Epoch 2/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9686 - loss: 0.1379 - val_accuracy: 0.9682 - val_loss: 0.1387
Epoch 3/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9692 - loss: 0.1312 - val_accuracy: 0.9684 - val_loss: 0.1372
Epoch 4/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9674 - loss: 0.1380 - val_accuracy: 0.9690 - val_loss: 0.1357
Epoch 5/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9674 - loss: 0.1351 - val_accuracy: 0.9690 - val_loss: 0.1351
Epoch 6/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9715 - loss: 0.1237 - val_accuracy: 0.9690 - val_loss: 0.1368
Epoch 7/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9697 - loss: 0.1294 - val_accuracy: 0.9690 - val_loss: 0.1346
Epoch 8/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9695 - loss: 0.1247 - val_accuracy: 0.9690 - val_loss: 0.1359
Epoch 9/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9664 - loss: 0.1385 - val_accuracy: 0.9690 - val_loss: 0.1348
Epoch 10/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9703 - loss: 0.1252 - val_accuracy: 0.9690 - val_loss: 0.1335
Epoch 11/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9705 - loss: 0.1251 - val_accuracy: 0.9690 - val_loss: 0.1340
Epoch 12/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9718 - loss: 0.1195 - val_accuracy: 0.9690 - val_loss: 0.1345
Epoch 13/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9703 - loss: 0.1252 - val_accuracy: 0.9690 - val_loss: 0.1340
Epoch 14/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9675 - loss: 0.1338 - val_accuracy: 0.9690 - val_loss: 0.1332
Epoch 15/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9651 - loss: 0.1427 - val_accuracy: 0.9690 - val_loss: 0.1331
Epoch 16/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9687 - loss: 0.1318 - val_accuracy: 0.9690 - val_loss: 0.1347
Epoch 17/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9679 - loss: 0.1309 - val_accuracy: 0.9690 - val_loss: 0.1338
Epoch 18/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9671 - loss: 0.1356 - val_accuracy: 0.9692 - val_loss: 0.1343
Epoch 19/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9694 - loss: 0.1287 - val_accuracy: 0.9692 - val_loss: 0.1333
Epoch 20/20
464/464 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9697 - loss: 0.1296 - val_accuracy: 0.9690 - val_loss: 0.1330
116/116 ━━━━━━━━━━━━━━━━━━━━ 0s 991us/step - accuracy: 0.9695 - loss: 0.1345
Validation Accuracy: 0.9690

In [40]:
df_test = pd.read_csv('test.csv')

In [41]:
df_test.isnull().sum()

id                             0
Time_spent_Alone             425
Stage_fear                   598
Social_event_attendance      397
Going_outside                466
Drained_after_socializing    432
Friends_circle_size          350
Post_frequency               408
dtype: int64

In [42]:
df_test['Stage_fear'] =df_test['Stage_fear'].fillna(df_test['Stage_fear'].mode()[0])
df_test['Drained_after_socializing'] = df_test['Drained_after_socializing'].fillna(df_test['Drained_after_socializing'].mode()[0])

cols_to_impute = ['Time_spent_Alone', 'Social_event_attendance', 'Going_outside', 'Friends_circle_size', 'Post_frequency']
df_test[cols_to_impute] = imputer.fit_transform(df_test[cols_to_impute])

In [43]:
df_test.isnull().sum()

id                           0
Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
dtype: int64

In [44]:
df_test

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
0,18524,3.00000,No,7.0,4.0,No,6.0,5.028958
1,18525,3.11687,Yes,0.0,0.0,Yes,5.0,1.000000
2,18526,3.00000,No,5.0,6.0,No,15.0,9.000000
3,18527,3.00000,No,4.0,4.0,No,5.0,6.000000
4,18528,9.00000,Yes,1.0,2.0,Yes,1.0,1.000000
...,...,...,...,...,...,...,...,...
6170,24694,3.00000,No,5.0,5.0,No,9.0,6.000000
6171,24695,8.00000,Yes,2.0,1.0,Yes,0.0,0.000000
6172,24696,2.00000,No,4.0,3.0,No,9.0,7.000000
6173,24697,3.00000,No,4.0,4.0,No,11.0,9.000000
6174,24698,3.11687,Yes,1.0,1.0,Yes,1.0,0.000000

In [48]:


# Drop 'id' column if present
if 'id' in df_test.columns:
    df_test.drop(columns=['id'], inplace=True)

# Map categorical columns as in training
df_test['Stage_fear'] = df_test['Stage_fear'].map({'No': 0, 'Yes': 1})
df_test['Drained_after_socializing'] = df_test['Drained_after_socializing'].map({'No': 0, 'Yes': 1})

# Create interaction and ratio features
df_test['Anxiety_Interaction'] = df_test['Drained_after_socializing'] * df_test['Stage_fear']
df_test['Social_Conflict_Ratio'] = df_test['Time_spent_Alone'] / (df_test['Social_event_attendance'] + 1e-6)

# Bin and encode 'Friends_circle_size'
df_test['Friends_circle_category'] = pd.cut(
    df_test['Friends_circle_size'],
    bins=bins,
    labels=labels,
    right=True,
    include_lowest=True
)
df_test = pd.get_dummies(df_test, columns=['Friends_circle_category'])
for cat in labels:
    col = f'Friends_circle_category_{cat}'
    if col not in df_test.columns:
        df_test[col] = 0
    df_test[col] = df_test[col].astype(int)

# # Impute missing values
# df_test[cols_to_impute] = imputer.transform(df_test[cols_to_impute])

# Select features and scale
X_test = df_test[
    [
        'Time_spent_Alone',
        'Going_outside',
        'Post_frequency',
        'Anxiety_Interaction',
        'Social_Conflict_Ratio',
        'Friends_circle_category_Small_Circle',
        'Friends_circle_category_Medium_Circle',
        'Friends_circle_category_Large_Circle'
    ]
]
X_test[cols_to_scale] = scaler.transform(X_test[cols_to_scale])
# Predict
y_pred = model.predict(X_test)
print(y_pred)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8052\1138215896.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[cols_to_scale] = scaler.transform(X_test[cols_to_scale])

ValueError: Exception encountered when calling Sequential.call().

Input 0 of layer "dense" is incompatible with the layer: expected axis -1 of input shape to have value 8, but received input with shape (32, 14)

Arguments received by Sequential.call():
  • inputs=tf.Tensor(shape=(32, 14), dtype=float32)
  • training=False
  • mask=None
  • kwargs=<class 'inspect._empty'>

In [46]:
# Create a DataFrame with 'id' and predicted 'Personality' labels
pred_df = pd.DataFrame({
    'id': range(18524, 18524 + len(y_pred)),
    'Personality': ['Extrovert' if p == 1 else 'Introvert' for p in y_pred]
})
pred_df.to_csv('submission_nn4.csv', index=False)
pred_df.head()

      id Personality
0  18524   Extrovert
1  18525   Introvert
2  18526   Extrovert
3  18527   Extrovert
4  18528   Introvert